<% provide(:title, 'Interview Scheduler') %>
<h1><%=@user.name %>さんの面接一覧</h1>
<h3>現在の面接日程</h3>

<h4><% if @user.interviews.find_by(status: :approved) %>
  <strong><%= @user.interviews.find_by(status: :approved).time %></strong>に面接が設定されています。
    <% else %>
       面接が設定されていません。
    <% end %>
</h4>
<hr>
<ul class="nav nav-list"><li class="divider"></li></ul>

<div class="clearfix" style="margin-bottom: 10px;">
  面接日程を変更する場合は以下から選んでください。
</div>



<% @interviews.each do |interview| %>
  <div class="clearfix" style="margin-bottom: 10px;">
    <%= link_to interview.time, user_apply_interview_path(@user, interview), method: :patch, class: "btn btn-sx btn-primary",
                                  data: { confirm: "#{interview.time} で面接を確定していいですか？" } %>
  </div>
<% end %>
