<% provide(:title, 'My interviews') %>
<h1><%=@user.name %>さんの面接一覧</h1>
<div class="center jumbotron">
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>面接開始時間</th>
        <th>承認状態</th>
        <th colspan="3"></th>
      </tr>
    </thead>


  <% @interviews.each do |interview| %>
  <tbody>
    <tr>
      <td><div class="text-center"> <%= interview.time %></div></td>
      <td><div class="text-center"> <%= interview.status %></div></td>
    </tr>
  <% end %>
  <%= link_to "新規面接作成", new_user_interview_path(@user), class: "btn btn-lg btn-primary" %>
</div>
