<p><%= @to_user.name %> 様</p>

<p><%= @from_user.name %>の面接希望日が決まりました。</p>

<p>以下の URL から、面接日時の承認をよろしくお願いします。</p>

<p><%= link_to user_interviews_url(@from_user), user_interviews_url(@from_user) %></p>
